.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    width: 100px;
    color: black;
    font-size: 12px;
    background-color: white;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
}

.tooltip-text::before {
    content: "";
    position: absolute;
    transform: rotate(45deg);
    background-color: white;
    padding: 5px;
    z-index: 1;
}

.hover-text:hover .tooltip-text {
    visibility: visible;
}

.tooltip-top {
    top: -40px;
    left: -50%;
}

.tooltip-top::before {
    top: 80%;
    left: 45%;
}

.toolt-bottom {
    top: 25px;
    right: -2.5rem;
}

.tooltip-bottom::before {
    top: -5%;
    left: 46%;
}

.tooltip-left {
    top: -8px;
    right: 120%;
}

.tooltip-left::before {
    top: 35%;
    left: 94%;
}

.tooltip-right {
    top: -8px;
    left: 120%;
}

.tooltip-right::before {
    top: 35%;
    left: -2%;
}

.hover-text {
    position: relative;
    display: inline-block;
    font-family: Avenir;
    text-align: center;
}


ol {
    word-wrap: break-word;
}
li {
    font-size: 25px;
}